<ion-header [translucent]="true">
  
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">inicial2</ion-title>
    </ion-toolbar>
    
  </ion-header>
  
  <div class="corte">
    <img src="https://i.ibb.co/RBpf6HM/logo-faixa3.jpg" alt="errrou" class="listra">

  </div>
  <br>  
 <p> &nbsp;&nbsp;&nbsp;Bem-vindo, Builder!</p>
  <div style="text-align: center;">
    <br><br>
    <ion-input class="butt centered-input" label="Email" label-placement="floating" fill="outline" placeholder="Digite aqui!"></ion-input>


    <br> <br>
    <ion-input class="butt centered-input" label="Senha" label-placement="floating" fill="outline" placeholder="Digite aqui!"></ion-input>
    <br><br><br>
    <ion-button routerLink="/dashboard">Login</ion-button>
  </div>
</ion-content>



<style>
  .listra {

    width: 50%;
  }
  .corte {
   text-align: center;
   background-color: black;
  }
  .butt{
    background-color: rgb(202, 202, 202);
    width: 30%;
  }
  .centered-input {
  display: block;
  margin: 0 auto;
}
/* exemplo e como coloar duas classes */
</style>